<html>
    <head>
        <title>Welcome to Beom's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Beom's Blog</a></h1>
        </div>

        <div>
            <p> published: 24.01.2018, 15:44</p>
            <h2><a href="">My first post</a></h2>
            <p>Let's get it!!! Django is super awesome.</p>
        </div>

        <div>
            <p> published: 24.01.2018, 15:44</p>
            <h2><a href="">My second post</a></h2>
            <p>I'm Beom, I want to be your friend.</p>
        </div>
    </body>
</html>